head {
    color: #111;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
        }

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background-image: url("resources/flowerdither.gif");
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: #111;
    opacity: 80%;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    width: 75%;
    float: left;
}

/* Right column */
.rightcolumn {
    width: 25%;
    align-content: center;
    float: right;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.imgcontainer {
    width: 100%;
    height: auto;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

h1 {
    color: white;
}
