* {
    box-sizing: border-box;
  }

body {
    background-image: url("../resources/flowerdither.gif");
}

.content {
    display: inline-block;
}
  .main {
    width: 70%;
  }
  
  .sub {
    padding: 15px;
    text-align: center;
    width: 25%;
  }

  .card {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
    .cardheader {
        font-size: 45px;
        color: #111;
        font-family: 'Times New Roman', Times, serif;
    }
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right, .sub {
      width: 100%;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  ul.navbar {
    list-style-type: none;
    margin: 0;
    background-color: #333;
    width: 100%;
    height: auto;
    display:inline-flex;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    li a:hover {
        background-color: #111;
    }

    li a .backText {
        display: none;
    }

    li a:hover .frontText {
        display: none;  
    }

    li a:hover .backText {
        display: inline;
    }